<style>
div.field label { width: 100%; font-size: 3em; font-weight:bold }
div.field input { width: 100%; font-size: 3em; height:3em }
div.field textarea { width: 100%; font-size: 3em; height:3em }
div.field select {width: 100%; font-size: 3em; height:3em}
div.actions input { width: 100%; font-size: 3em; height:3em }

</style>
Select patient:

<%= form_tag '/patients/', id: 'search' do %>
  <div>
    <%= select_tag :type, options_for_select(*PatientSearch.search_options) %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', class: 'btn btn-info' %>
  </div>
<% end %>


<%= form_for(@request) do |f| %>
  <div id='patient-results'> </div>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :items %> (e.g. Tylenol 200mg)<br />
    <%= f.text_area :items, :rows => 10, :cols => 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
