<style>
div.field input { font-size: 2em; height: 2em; width:100%;  font-size:4em;height:2em;line-height:100px;}
.masthead ul.nav li {padding-left:1em; height:2em; line-height:100px}
</style>

<div class="masthead">
        <h3 class="muted">MedLink</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/admin/dashboard">Admin</a></li>
                <li><a href="/admin/logout">Logout</a></li>
              </ul>
            </div>
          </div>
          </div>
      </div>
<br/><br/>
<div class="container">
<h1 style="font-size:4em">Notifications</h1><br/><br/>

<% if @requests.present? %>
  <%= form_tag "/requests/send_all" do %>
    <div style="font-size:4em;line-height:1.2em">The Following Patients will be sent an email notification:</div>
      <table class='table table-bordered table-striped'>
        <tr>
          <th>Request</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Send</th>
        </tr>
        <% @requests.each do |r| %>
          <tr>
            <td><%= link_to "##{r.id}", request_path(r) %></td>
            <td><%= r.patient.full_name %></td>
            <td><%= r.patient.email %></td>
            <td><%= r.patient.phone %></td>
            <td><%= check_box_tag "requests[]", r.id %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= submit_tag "Send Notifications", class: "btn" %>
  <% end %>
<% end %>
