<style>
div.field label { width: 100%; font-size: 3em; font-weight:bold}
div.field input { width: 100%; font-size: 3em; height:3em }
div.field select {width: 100%; font-size: 3em; height:3em}
div.field textarea { width: 100%; font-size: 3em; height:3em }
div.actions input { width: 100%; font-size: 3em; height:3em }
</style>

<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
    <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :symptoms %><br />
    <%= f.text_field :symptoms, :rows => 10, :cols => 10 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth%><br />
    <%= f.date_select :dob, { start_year: 80.years.ago.year, end_year: Time.now.year } %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 10, :cols => 10 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Request" %>
  </div>
<% end %>
