<h1>Listing patients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Symptoms</th>
    <th>Phone</th>
    <th>Dob</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.name %></td>
    <td><%= patient.symptoms %></td>
    <td><%= patient.phone %></td>
    <td><%= patient.dob %></td>
    <td><%= patient.notes %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
