<!DOCTYPE html>
<html>
<head>
  <title>Medlink</title>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.min", :media => "all" %>
  <%= stylesheet_link_tag    "scaffolds", :media => "all" %>

  <%= csrf_meta_tags %>
</head>

<body>

  <% if flash[:notice] %> 
    <div class = 'alert alert-success' >
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class = 'alert alert-error' >
      <%= flash[:error] %>
    </div>

  <% end -%>

<%= yield %>
</div>

  <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>

</body>
</html>
